<form class="modal-form">
  <h2>Sign Up</h2>

  <div class="input-container">
    <input
      [(ngModel)]="this.userLogin.username"
      class="std-input"
      name="username"
      type="text"
      placeholder="Username"
    />
  </div>

  <div class="input-container">
    <input
      [(ngModel)]="this.userLogin.email"
      class="std-input"
      name="email"
      type="text"
      placeholder="Email"
    />
  </div>

  <div class="input-container">
    <input
      [(ngModel)]="this.userLogin.password"
      class="std-input"
      name="password"
      type="password"
      placeholder="Password"
    />
  </div>

  <div class="input-container">
    <input
      [(ngModel)]="this.userLogin.confirmPassword"
      class="std-input"
      name="password"
      type="password"
      placeholder="Repeat password"
    />
  </div>

  <em *ngIf="this.error !== ''" class="error">{{ error }}</em>

  <button (click)="postUser()" class="button button--primary">Register</button>
</form>
