<div class="admin-page">
  <div class="w-100 d-flex flex-row justify-content-end gap-1 py-2">
    <button class="button button--primary button--primary__sm" (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
    <button
      class="button button--primary button--primary__sm"
      (click)="editMode()"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div *ngFor="let user of usersList">
    <app-card-user [user]="user" [editMode]="this.edit"></app-card-user>
  </div>
</div>
