<div class="card d-flex flex-column">
  <img class="img" src="../../assets/img/pexels-ylanite-koppens-776654.jpg">
  <div class="body">
  <p class="title">Game design</p>
    <p class="description"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi accusantium at, repellendus fuga nihil tempore iste nesciunt ea repellat libero!
    </p>
    <div class="d-flex flex-row justify-content-between">
      <p class="user">User</p>
      <p class="price">50$</p>
    </div>
  </div>
</div>
  