<header>
    <h1 class="col-8 web-name">@urservice</h1>
    <div *ngIf="!this.loginService.isLogged()" class="col-1 d-flex justify-content-center gap-4">
      <button class="login-btn" (click)="openLogin()">Login</button>
    </div>
    <div *ngIf="this.loginService.isLogged()" class= "col-3 d-flex justify-content-around align-items-center">
      <h4  class="username" >Welcome {{this.sessionService.get("username")}}! </h4>
      <button  class="login-btn" (click)="openCreateService()">New service</button>
    </div>
</header>