<header>
    <h1 class="col-3 d-flex flex-row justify-content-center web-name">@urservice</h1>
    <form class="col-6 form d-flex flex-row justify-content-center">
        <input type="text" [(ngModel)]="this.enteredSearchValue" (input)="onSearchTextChanged()" name="searchText" placeholder="Search for service...">
        <input type="submit" value="Search">
        <button (click)="sortPrice()" style="text-decoration:none;font-weight:bold;background:none;border:none;color:var(--main-accent-color);padding:5px">Price ↓</button>
    </form>
    <div *ngIf="!this.loginService.isLogged()" class="col-3 d-flex justify-content-center">
        <button class="login-btn" (click)="openLogin()">Login</button>
    </div>
    <div *ngIf="this.loginService.isLogged()" class="row">
        <div class="col-md-4">Welcome</div>
        <div class="col-md-8"><a href="/profile" class="username" style="text-decoration:none;font-weight:bold;color:var(--main-accent-color)"> {{this.sessionService.get("username")}}! </a></div>
        <button class="login-btn" (click)="openCreateService()">New service</button>
    </div>
</header>