<form class="filters">
  <div class="d-flex w-100 justify-content-between">
    <h3 class="title-md">Filters</h3>
    <mat-icon class="filters--reset m-0" (click)="resetFilters()"
      >filter_alt_off</mat-icon
    >
  </div>
  <div class="filters--filter">
    <div *ngFor="let item of kinds | keyvalue">

      <h5 class="mb-0">{{item.key}}</h5>
    <div class="order">
      <mat-icon
        class="sort-btn"
        [ngClass]="{ accent: filters.sort_by === item.value && filters.reverse === false}"
        (click)="setOrder(item.value, false)"
        >arrow_upward</mat-icon
      >
      <mat-icon
        class="sort-btn"
        [ngClass]="{ accent: filters.sort_by === item.value && filters.reverse === true}"
        (click)="setOrder(item.value, true)"
        >arrow_downward</mat-icon
      >
    </div>
    <div class="min-max">
      <div class="input-container mb-2">
        <input
          (change)="createFilter(item.value, 'max', $event)"
          [(ngModel)]="this.filters.filters?.[item.value].max"
          name={{item.value}}Max
          class="sm-input"
          type="text"
          placeholder="Max"
        />
      </div>
      <div class="input-container sm-input mb-2">
        <input
          (change)="createFilter(item.value, 'min', $event)"
          [(ngModel)]="this.filters.filters?.[item.value].min"
          name={{item.value}}Min
          class="sm-input"
          type="text"
          placeholder="Min"
        />
      </div>
    </div>

    </div>
    
  </div>
  <button
    class="button button--primary w-100"
    (click)="onFilter()"
    type="submit"
  >
    Filter
  </button>
</form>
