<div
  class="service-detail d-flex flex-row justify-content-center align-items-center gap-4"
>
  <div class="service-info">
    <h2 class="title-lg">{{ this.serviceInfo.title }}</h2>
    <img class="img" src="../../assets/img/pexels-ylanite-koppens-776654.jpg" />
    <p class="description">{{ this.serviceInfo.description }}</p>
  </div>
  <div class="price-info d-flex flex-column justify-content-between">
    <h3 class="price">{{ this.serviceInfo.price }}$</h3>

    <textarea
      class="area-input"
      name="username"
      type="text"
      placeholder="Explain your needs for this service"
    ></textarea>

    <div
      class="contact-wrapper d-flex flex-column justify-content-center gap-4"
    >
      <button class="button button--primary" (click)="submitContact()">
        Contact with customer
      </button>
      <div class="contact-info d-flex flex-row justify-content-between">
        {{ this.serviceInfo.user }}
        <div
          class="icon-wrapper d-flex flex-row justify-content-center align-items-center"
        >
          <mat-icon class="icon">chat</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
