<app-header></app-header>
<div class="vertical-center">
    <div class="container mt-8">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img src="https://cdn-icons-png.flaticon.com/512/1053/1053244.png?w=360" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                                </div>
                                <h5 class="full_name"> {{this.sessionService.get("username")}}</h5>
                                <h6 class="email">{{this.sessionService.get("email")}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h4 class="mb-2 mt-1" style="color:var(--main-accent-color)">Profile details</h4>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="username">Username: {{this.sessionService.get("username")}}</label>
                                    <input [(ngModel)]="this.newName" type="text" class="form-control" id="username" placeholder="Username" [disabled]="!this.isEditable">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="email">Email:  {{this.sessionService.get("email")}}</label>
                                    <input type="text" [disabled]=true class="form-control" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="number">Phone number(Optional): {{this.sessionService.get("phone")}}</label>
                                    <input [(ngModel)]="this.newPhone" type="text" [disabled]="!this.isEditable" class="form-control" id="gsm_number" placeholder="Phone">
                                    <p></p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="wallet">My wallet: {{this.sessionService.get("wallet")}}</label>
                                    <input type="text" [disabled]=true class="form-control" id="wallet" placeholder="Value">
                                </div>
                            </div>
                            <div class="mt-6 mb-2 text-center" *ngIf="!this.isEditable">
                                <p></p>
                                <button (click)="enableEdit()" class="btn" style="background-color:var(--main-accent-color);color:white; border:2px solid black">Edit</button>
                            </div>
                            <div *ngIf="this.isEditable">
                                <div class="col-sm-12 mt-6 mb-2 text-center">
                                    <button (click)="clearEdit()" class="btn btn-danger btn-md">Cancel</button>&nbsp;
                                    <button (click)="saveProfile()" class="btn btn-primary btn-md">Save</button>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h4 class="mb-3 mt-1" style="color:var(--main-accent-color)">My offers</h4>
                            </div>
                            <div class="anuncio-wrapper d-flex flex-row gap-4 flex-wrap justify-content-center">
                                <app-card-anuncio *ngFor="let a of [0,1,2,3]" [title]="'Game design'" [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ducimus iste ut omnis commodi eveniet'" [price]="50"></app-card-anuncio>
                                <app-card-anuncio *ngFor="let service of this.offers" [id]="service.id" [title]="service.title" [description]="service.description" [price]="service.price"></app-card-anuncio>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h4 class="mb-3 mt-5" style="color:var(--main-accent-color)">My contracts</h4>
                            </div>
                            <div class="anuncio-wrapper d-flex flex-row gap-4 flex-wrap justify-content-center">
                                <app-card-anuncio *ngFor="let a of [0,1,2,3]" [title]="'Game design'" [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ducimus iste ut omnis commodi eveniet'" [price]="50"></app-card-anuncio>
                                <app-card-anuncio *ngFor="let service of this.contracts" [id]="service.id" [title]="service.title" [description]="service.description" [price]="service.price"></app-card-anuncio>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>