@use "../util/" as u;

.cdk-overlay-container {
  z-index: 9999 !important;
}
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: u.$font;
  background-color: var(--color-gray-5);
  color: var(--color-text);
}
