:root {
  //Primary
  --color-text: #0e0e0e;
  --color-background: #f3f3f3;
  --color-secondary: #d0baff9c;
  --color-accent: #8d59ff;

  // Semantic Colors
  --color-white: #fff;
  --color-black: #000;
  --color-positive: #008a21;
  --color-neutral: #0060a7;
  --color-negative: #cd384b;
  --color-caution: #ef6700;

  // Gray Scale Colors
  --color-gray-1: #e3e3e3;
  --color-gray-2: #c8c8c8;
  --color-gray-3: #939393;
  --color-gray-4: #727272;
  --color-gray-5: #5b5b5b;
  --color-gray-6: #404040;
}
