.filters {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;

  &--filter {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    .min-max {
      display: flex;
      flex-direction: column;
    }
    .sm-input {
      font-size: 13px;
      height: 30px;
      max-width: 100px;
    }
    .sort-btn {
      cursor: pointer;
      &:hover {
        color: var(--color-accent);
      }
    }
    .accent {
      color: var(--color-accent);
    }
  }
}
