<div class="contracts">
  <h4 class="mb-3 mt-1">My orders</h4>
  <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
      <div
        class="d-flex justify-content-center"
        *ngIf="this.contractsContractor.length === 0"
      >
        <p>Currently you have no contracts</p>
      </div>
      <app-card-contract
        *ngFor="let contract of this.contractsContractor"
        [contract]="contract"
      >
      </app-card-contract>
    </div>
  </div>
</div>

<div class="contracts">
  <h4 class="mb-3 mt-1">Requested orders</h4>
  <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
      <!--  a cambiar a this.contractsClient -->
      <div
        class="d-flex justify-content-center"
        *ngIf="this.contractsClient.length === 0"
      >
        <p>Currently you have no contracts</p>
      </div>
      <app-card-contract
        *ngFor="let contract of this.contractsClient"
        [contract]="contract"
      >
      </app-card-contract>
    </div>
  </div>
</div>
