<div class="main-page">
  <div class="main-page-header">
    <div
      class="left-header d-flex flex-column justify-content-center align-items-center"
    >
      <h3>Welcome</h3>
      <h5>Sergi F.</h5>
      <p>Anything you want to offer?</p>
      <button class="button button--primary">New Service</button>
    </div>
    <div class="right-header d-flex justify-content-center align-items-center">
      <h1>
        <div class="typing-demo"><h2>Visible en el Sprint 3</h2></div>
      </h1>
    </div>
  </div>
  <h2 class="subtitle">Top services</h2>
  <div class="card-wrapper">
    <app-card-anuncio
      *ngFor="let service of this.services"
      [id]="service.id"
      [title]="service.title"
      [description]="service.description"
      [price]="service.price"
    ></app-card-anuncio>
  </div>
</div>
