.main-page {
  width: 100%;
  background: var(main-primary-color);
  padding-top: 5px;

  .subtitle {
    margin: auto;
    margin-bottom: 20px;
  }
  .card-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
