<div class="forgot-pwd">
  <div class="modal-form">
    <h2>Forgot password</h2>
    <p>Insert your new password below</p>
    <div class="input-container mb-2">
      <input
        [(ngModel)]="this.newPassword"
        name="newPassword"
        type="password"
        placeholder="New Password"
      />
    </div>
    <div class="input-container mb-2">
      <input
        [(ngModel)]="this.confirmPassword"
        name="confirmPassword"
        type="password"
        placeholder="Confirm password"
      />
    </div>
    <button type="submit" (click)="onSubmit()" class="button button--primary">
      Submit
    </button>
  </div>
</div>
