<div class="body-container-wrapper">
    <div class="body-container">
        <div class="page-center">
            <i class="fa fa-cloud" aria-hidden="true"></i>
            <h1>Upload Your <strong>Files</strong> To Cloudinary</h1>
            <div id="drop">
                <input type="file" id="fileupload" class="" name="fileupload" #fileInput ng2FileSelect [uploader]="cloudinaryService.uploader" (change)="imageSelectForUpload($event)" />
                <img [src]="imageUrl" *ngIf="imageUrl" class="selected-image" />
                <button type="button" class="btn btn-success btn-s upload" (click)="cloudinaryService.uploader.uploadAll()" [disabled]="!cloudinaryService.uploader.getNotUploadedItems().length">
                      <span>Upload Image!</span>
                  </button>
            </div>
            <div class="file-upload-bar">
                <div class="bar-wrapper">
                    <div class="overall"><span>Overall Progress</span>
                        <div class="file" *ngFor="let response of cloudinaryService.responses; let i = index">
                            <h3>{{response.file.name}}</h3>
                            <button class="delete-image" *ngIf="!!response.data.delete_token" (click)="cloudinaryService.deleteImage(response.data, i)">Delete image</button>
                            <div class="status">
                                Uploading... {{response.progress}}%
                                <div *ngIf="!response.status">In progress</div>
                                <div class="status-code" *ngIf="response.status">Upload completed with status code {{response.status}}</div>
                            </div>
                            <div class="progress-bar-overall progress-bar">
                                <div class="progress" role="progressbar" [style.width.%]="response.progress"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="file-upload-bar-closed"></div>
        </div>
    </div>
</div>