<div class="card-contract">
  <img
    class="contractImg"
    src="../../assets/img/pexels-ylanite-koppens-776654.jpg"
    alt="Card image cap"
  />

  <div class="col-6 d-flex flex-column justify-content-between p-4">
    <h5 class="card-contract--data">
      {{ this.contract.title }}
    </h5>
    <p class="card-contract--data">
      {{ this.contract.description }}
    </p>
    <p class="card-contract--data">Seller: {{ this.contract.seller }}</p>
    <p class="card-contract--data">Costumer: {{ this.contract.user }}</p>
  </div>

  <div class="d-flex flex-column p-2 justify-content-center">
    <h4>{{ this.contract.status }}</h4>
    <h4>{{ this.contract.price }}$</h4>

    <!-- <div *ngIf="!this.isActivated">
      <button (click)="activateService()" class="button button--primary mt-4">
        Activate</button
      >&nbsp;
    </div>
    <div *ngIf="this.isActivated">
      <button (click)="activateService()" class="button button--primary mt-4">
        Deactivate</button
      >&nbsp;
    </div> -->
  </div>
</div>
