<div class="card-contract justify-content-between align-items-center pe-3">
  <div class="col-6 d-flex flex-column justify-content-between p-4">
    <h5 class="card-contract--data">
      {{ this.user.username }}
    </h5>
    <p class="card-contract--data">
      {{ this.user.email }}
    </p>
  </div>

  <div
    class="d-flex flex-row p-2 justify-content-center gap-3 align-items-center"
  >
    <div *ngIf="editMode" class="input-container sm-input mb-2">
      <input
        [(ngModel)]="this.user.wallet"
        name="wallet"
        class="sm-input"
        type="text"
        placeholder="Min"
      />
    </div>
    <div class="input-container sm-input mb-2">
      <select
        *ngIf="editMode"
        class="select-input"
        [(ngModel)]="this.user.access"
        type="select"
      >
        <option *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
          {{ number }}
        </option>
      </select>
    </div>
    <h4 *ngIf="!editMode">{{ this.user.wallet }}$</h4>
    <h4 *ngIf="!editMode">{{ this.user.access }}</h4>
  </div>
</div>
